{% extends "layout.html.twig" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 title">
                <h1>{{ title }}</h1>
            </div>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 add-products">
                <h4><a href="{{ path('category_add') }}">Añadir categoría</a></h4>
            </div>
        </div>

        <div class="row">
            {% for category in categories %}
                <div class="col-12 col-lg-4 text-center py-3 separator bs-qrder">
                    <h4 class="label label-qrder mb-4">{{ category.name }}</h4>
                    <a class="btn btn-info" href="{{ path('category_edit', {'categoryid' : category.categoryid }) }}">Editar</a>
                    <a class="btn btn-danger" href="{{ path('category_remove', {'categoryid' : category.categoryid }) }}">Eliminar</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}