{% extends "layout.html.twig" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div id="title" class="col-12 title" data-restaurantid="{{ id }}">
                <h1>{{ title }}</h1>
            </div>
        </div>
    </div>
    <div class="container my-3">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 offset-lg-3 mb-3">
                <h3>Estado del pedido</h3>
                <p id="span-{{ order.orderid }}" class="label label-info mb-0">Empleado:
                    {% if order.employeeid.name is defined %} {{ order.employeeid.name }} {% endif %}
                </p>
                <p class="label label-info mb-0">Total: {{ order.total }} €</p>
                {% if order.paid %}
                    <p id="paid-{{ order.orderid }}" class="label label-info mb-0">Pagado: Si</p>
                {% else %}
                    <p id="paid-{{ order.orderid }}" class="label label-info mb-0">Pagado: No</p>
                {% endif %}
                {% if order.served %}
                    <p id="served-{{ order.orderid }}" class="label label-info mb-0">Servido: Si</p>
                {% else %}
                    <p id="served-{{ order.orderid }}" class="label label-info mb-0">Servido: No</p>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 mb-3">
                <h3>Detalles del pedido</h3>
                {% for orderline in order.orderlines %}
                    <p class="label label-info mb-0">{{ orderline.quantity }} x {{ orderline.productid.name }}: {{ orderline.subtotal }} €</p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <label for="select-{{ order.orderid }}" class="d-inline-block">Empleado:</label>
                <select class="employees custom-select" id="select-{{ order.orderid }}"></select>
                <button id="asignar" type="button" class="btn btn-info buttons" data-orderid="{{ order.orderid }}">Reasignar</button>
                <button id="cobrar" type="button" class="btn btn-info buttons" data-orderid="{{ order.orderid }}">
                    {% if order.paid %} Descobrar {% else %} Cobrar {% endif %}</button>
                <button id="servir" type="button" class="btn btn-info buttons" data-orderid="{{ order.orderid }}">
                    {% if order.served %} Deservir {% else %} Servir {% endif %}</button>
                <button id="borrar" type="button" class="btn btn-danger buttons" data-orderid="{{ order.orderid }}">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <script src=" {{ asset('js/order.js') }}"></script>
{% endblock %}