{% extends "layout.html.twig" %}
{% block content %}
    <script src=" {{ asset('js/order.js') }}"></script>
    <div class="container-fluid">
        <div id="title" data-restaurantid="{{ id }}"></div>
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col">
                <h4 id="span-{{ order.orderid }}" class="label label-info">Empleado:
                    {% if order.employeeid.name is defined %} {{ order.employeeid.name }} {% endif %}
                </h4>
                <h4 class="label label-info">Total: {{ order.total }} €</h4>
                {% if order.paid %}
                    <h4 id="paid-{{ order.orderid }}" class="label label-info">Pagado: Si</h4>
                {% else %}
                    <h4 id="paid-{{ order.orderid }}" class="label label-info">Pagado: No</h4>
                {% endif %}
                {% if order.served %}
                    <h4 id="served-{{ order.orderid }}" class="label label-info">Servido: Si</h4>
                {% else %}
                    <h4 id="served-{{ order.orderid }}" class="label label-info">Servido: No</h4>
                {% endif %}
            </div>
        </div>

        <div class="row">
            {% for orderline in order.orderlines %}
            <div class="col-lg-12 text-center">
                <h4>
                    <span class="label label-info">Producto: {{ orderline.productid.name }}</span>
                    <span class="label label-info">Cantidad: {{ orderline.quantity }}</span>
                    <span class="label label-info">Subtotal: {{ orderline.subtotal }} €</span>
                </h4>
                {% endfor %}
                <select class="employees" id="select-{{ order.orderid }}"></select>
                <div id="asignar" type="button" class="btn btn-info" data-orderid="{{ order.orderid }}">Reasignar</div>
                <div id="cobrar" type="button" class="btn btn-info" data-orderid="{{ order.orderid }}">
                    {% if order.paid %} Descobrar {% else %} Cobrar {% endif %}</div>
                <div id="servir" type="button" class="btn btn-info" data-orderid="{{ order.orderid }}">
                    {% if order.served %} Deservir {% else %} Servir {% endif %}</div>
                <a class="btn btn-danger"
                   href="{{ path('order_remove', {'id': id, 'orderid': order.orderid }) }}">Eliminar</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}