{% extends "layout.html.twig" %}
{% block content %}
    <script src=" {{ asset('js/js.js') }}"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="title">
                    <h1>{{ title }}</h1>
                </div>
                {% if restaurant.image is defined %}
                    <img class="restaurant img-fluid"
                         src="{{ asset('uploads/restaurants_images/' ~ restaurant.image) }}"></img>
                {% endif %}
                <h2><a href="{{ path('product_add', {'id': id }) }}">Añadir producto</a>
                    <hr/>
                </h2>
                <span>Mesas disponibles: </span>
                <select id="tables"></select>
            </div>
            <div class="col-lg-8">
                {% for product in products %}
                    <div class="row mb-8">
                        <div class="col-md-5 col-lg-3 col-xl-3">
                            <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                <img class="productos img-fluid"
                                     src="{{ asset('uploads/products_images/' ~ product.image) }}"></img>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5>{{ product.name }}</h5>
                                    <p class="mb-3 text-muted text-uppercase small">{{ product.description }}</p>
                                </div>
                            </div>
                            <button id="comprar" type="button" data-name="{{ product.name|json_encode() }}"
                                    data-id="{{ product.productid|json_encode() }}"
                                    data-price="{{ product.price|json_encode() }}"
                                    class="btn btn-info">Comprar
                            </button>
                            <button id="eliminar" type="button" data-id="{{ product.productid|json_encode() }}"
                                    class="btn btn-info">Eliminar
                            </button>
                            {% if is_granted('ROLE_USER') and app.user == product.restaurantid %}
                                <a class="btn btn-danger"
                                   href="{{ path('product_edit', {'id': id, 'productid': product.productid }) }}">Editar</a>
                            {% endif %}
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-0"><span><strong id="summary">{{ product.price }} €</strong></span></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!--Grid column-->
            <div class="col-lg-4">
                <!-- Card -->
                <div class="mb-3">
                    <div class="pt-4">
                        <div>
                            <span>Carrito</span>
                            <h5 id="total" class="mb-3">Total</h5>
                            <ul id="cart" class="list-group list-group-flush">
                            </ul>
                        </div>
                        <div id="enviar" type="button" class="btn btn-primary btn-block" style="display: none"
                             data-restaurantid="{{ id }}">Enviar
                            pedido
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->
        </div>
    </div>
    <!-- Grid row -->
{% endblock %}