{% extends "layout.html.twig" %}

{% block content %}

    <script src=" {{ asset('js/js.js') }}"></script>
    <div class="container-fluid">
        <div>
            <span>Carrito</span>
            <ul id="cart" class="list-group">
            </ul>
            <span id="total">0 €</span>
        </div>

        <div id="enviar" type="button" class="btn btn-info" style="display: none" data-id="{{ id|json_encode() }}">Enviar pedido</div>

        <div id="title"></div><h1>{{ title }}</h1></div>
        <h2><a href="{{ path('product_add', {'id': id }) }}">Añadir producto</a>
            <hr/>
        </h2>
        <div class="row">
            {% for product in products %}
                <div class="col-lg-3 text-center">
                    <img class="img-thumbnail img-fluid"  src="{{ asset('uploads/products_images/' ~ product.image) }}"></img>
                    <h4>
                        <span class="label label-info">{{ product.name }}</span>
                        <span class="label label-info">{{ product.description }}</span>
                        <span class="label label-info">{{ product.price }} €</span>
                        <button id="comprar" type="button" data-name="{{ product.name|json_encode() }}"
                                data-id="{{ product.productid|json_encode() }}"
                                data-price="{{ product.price|json_encode() }}"
                                class="btn btn-info">Comprar
                        </button>
                        <button id="eliminar" type="button" data-id="{{ product.productid|json_encode() }}"
                                class="btn btn-info">Eliminar
                        </button>
                        {% if is_granted('ROLE_USER') and app.user == product.restaurantid %}
                            <a class="btn btn-danger" href="{{ path('product_edit', {'id': id, 'productid': product.productid }) }}">Editar</a>
                        {% endif %}
                    </h4>
                    <hr/>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}