{% extends "layout.html.twig" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div id="title" class="col-lg-12">
                <h1>{{ title }}</h1>
            </div>
            {% for restaurant in restaurants %}
                <div class="col-lg-3 text-center">
                    {% if restaurant.image is defined %}
                        <a href="{{ path('product_index', {'id': restaurant.restaurantid }) }}">
                            <img class="restaurants"
                                 src="{{ asset('uploads/restaurants_images/' ~ restaurant.image) }}"></img>
                        </a>
                    {% endif %}
                    <h4>
                        <a href="{{ path('product_index', {'id': restaurant.restaurantid }) }}">{{ restaurant.name }}</a>
                    </h4>
                    <hr/>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}