{%  extends "layout.html.twig" %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 title">
				<h1>{{ title }}</h1>
			</div>
		</div>
	</div>
	<div class="container mb-5">
		<div class="row">
			<div class="col-12 add-products">
				<h2><a href="{{ path('table_add',  {'id' : id }) }}">Añadir mesa</a></h2>
			</div>
		</div>

		<div class="row">
			{%  for table in tables %}
				<div class="col-12 col-lg-4 text-center py-3 separator bs-qrder">
					<h4 class="label label-qrder mb-4">{{ table.name}}</h4>
					<a class="btn btn-info" href="{{ path('table_qr', {'id' : id, 'tableid': table.tableid}) }}">Generar QR</a>
					<a class="btn btn-warning" href="{{ path('table_edit', {'id' : id, 'tableid': table.tableid}) }}">Modificar</a>
					<a class="btn btn-danger" href="{{ path('table_remove', {'id' : id, 'tableid': table.tableid}) }}">Eliminar</a>
				</div>
			{%  endfor %}
		</div>
	</div>
	<div class="clearfix"></div>
{%  endblock %}